body {
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: row;
}

video {
  width: calc(100vw - 100vh);
  height: fit-content;
}

@media (max-aspect-ratio: 1) {
  body {
    flex-direction: column;
  }
  video {
    width: fit-content;
    height: calc(100vh - 100vw);
  }
}

h1 {
  font-family: sans-serif;
  position: fixed;
  background-color: white;
  padding: 10px;
  font-size: 40px;
}

#info {
  top: 100px;
}

#warning {
  top: 200px;
}
